<section class="usa-site-alert usa-site-alert--info usa-site-alert--slim announcement-banner" aria-label="Announcement site alert">
  <div class="usa-alert usa-alert--info usa-alert--slim">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        This site will undergo scheduled maintenance on <b>2026-05-20</b> Wednesday from <b>3:30 PM to 4:30 PM EDT</b>.
        <br />During this time, the site will be unavailable. We apologize for any inconvenience.
      </p>
    </div>
  </div>
</section>
