<section class="usa-site-alert usa-site-alert--info usa-site-alert--slim beta-banner" aria-label="Beta site alert">
  <div class="usa-alert usa-alert--info usa-alert--slim">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        This site is currently in beta, and your
        <a href="#" id="beta-feedback-btn">feedback</a>
        is helping shape its ongoing development.
      </p>
    </div>
  </div>
</section>

<script nonce="{{ csp_nonce() }}">
  document.addEventListener('DOMContentLoaded', function () {
    var btn = document.getElementById('beta-feedback-btn');
    if (btn) {
      btn.addEventListener('click', function (e) {
        e.preventDefault();
        // zE is a javascript API object injected by zendesk
        // in order to have the banner link open the feedback form
        // we need to add the listener and also ensure the api is loaded.
        if (typeof zE !== 'undefined') {
          zE('webWidget', 'open');
        }
      });
    }
  });
</script>