<!-- footer 1: datagov info -->
<div class="footer-section-bottom bg-base-lighter">
  <div class="grid-container grid-container-widescreen">
    <div class="grid-row padding-y-3">
      <div class="tablet:grid-col-auto">
        <div class="logo-links">
          <a class="footer-logo media_link" href="https://data.gov">
            <img class="width-30 height-auto" src="https://s3-us-gov-west-1.amazonaws.com/cg-0817d6e3-93c4-4de8-8b32-da6919464e61/logo.png" alt="Data.gov logo">
          </a>
        </div>
        <div class="grid-row grid-gap" id="menu-footer">
          <ul>
            <li><a href="//www.data.gov/about">About</a></li>
            <li><a href="//www.data.gov/open-gov/">Open Government</a></li>
            <li><a href="///www.data.gov/privacy-policy">Website Policies</a></li>
            <!-- TODO: put sitemap back in -->
            <!-- <li><a href="//catalog.data.gov/sitemap.xml">Sitemap</a></li>  -->
            <li><a href="//www.performance.gov/">PERFORMANCE.GOV</a></li>
            <li><a href="//github.com/GSA/data.gov">Data.gov on Github</a></li>
          </ul>
          <a class="github-button" 
            href="https://github.com/GSA" 
            data-size="large" 
            data-show-count="true" 
            aria-label="Follow @GSA on GitHub">Follow @GSA</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- footer 2: gsa/tts info -->
<div class="usa-identifier">
    <section class="usa-identifier__section usa-identifier__section--masthead" aria-label="Agency identifier,,,">
        <div class="usa-identifier__container">
            <div class="usa-identifier__logos">
                <div class="usa-identifier__logo">
                    <img class="usa-identifier__logo-img" alt="GSA logo" role="img"
                        src="https://s3-us-gov-west-1.amazonaws.com/cg-0817d6e3-93c4-4de8-8b32-da6919464e61/gsa_starmark.png" />
                </div>
            </div>
            <div class="usa-identifier__identity" aria-label="Agency description">
                <p class="usa-identifier__identity-domain">data.gov</p>
                <p class="usa-identifier__identity-disclaimer">An official website of the GSA's <a
                        href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services"
                        class="usa-identifier__required-link usa-link">Technology Transformation Services {{'launch' | usa_icon | safe}}</a>
                </p>
            </div>
        </div>
    </section>
    <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links,,,">
        <div class="usa-identifier__container">
            <ul class="usa-identifier__required-links-list">
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/about-us" class="usa-identifier__required-link usa-link">About GSA {{'launch'| usa_icon | safe }}</a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/website-information/accessibility-statement"
                        class="usa-identifier__required-link usa-link">Accessibility statement {{'launch'| usa_icon | safe }}</a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/reference/freedom-of-information-act-foia"
                        class="usa-identifier__required-link usa-link">FOIA requests {{'launch'| usa_icon | safe }}</a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/reference/civil-rights-programs/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002"
                        class="usa-identifier__required-link usa-link">No FEAR Act data {{'launch'| usa_icon | safe }}</a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsaig.gov" class="usa-identifier__required-link usa-link">Office of the Inspector General {{'launch'| usa_icon | safe }}</a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/reference/reports/budget-performance"
                        class="usa-identifier__required-link usa-link">Performance reports {{'launch'| usa_icon | safe }}</a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/website-information/website-policies#privacy"
                        class="usa-identifier__required-link usa-link">Privacy policy {{'launch'| usa_icon | safe }}</a>
                </li>
            </ul>
        </div>
    </nav>
    <section class="usa-identifier__section usa-identifier__section--usagov"
        aria-label="U.S. government information and services,,,">
        <div class="usa-identifier__container">
            <div class="usa-identifier__usagov-description">Looking for U.S. government information and services?</div>
            <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov {{'launch'| usa_icon | safe }}</a>
        </div>
    </section>
</div>
