<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="logo">
        <a href="https://data.gov" target="_blank" title="Home" aria-label="Home"></a>
      </div>
      <button type="button" class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <button class="usa-nav__close" type="button">
        <img src="{{ url_for('static', filename='assets/uswds/img/usa-icons/close.svg') }}" role="img" alt="Close">
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <a href="{{ url_for('main.index') }}" class="usa-nav__link">
            <span>Home</span>
          </a>
        </li>
        <li class="usa-nav__primary-item">
          <a href="{{ url_for('main.list_organizations') }}" class="usa-nav__link">
            <span>Organizations</span>
          </a>
        </li>
                <li class="usa-nav__primary-item">
          <a href="https://data.gov/user-guide/" target="_blank" class="usa-nav__link">
            <span>User Guide</span>
          </a>
        </li>
      </ul>
      {% if request.path != '/' %}
      <section aria-label="Search component">
        <form form method="GET" action="{{ url_for('main.index') }}" class="usa-search usa-search--small" role="search">
          <label class="usa-sr-only" for="search-field">Search</label>
          <input class="usa-input" id="search-field" name="q" type="search" 
                        placeholder="Search Data.gov..." autofocus value="{{ query }}">
          <button class="usa-button" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
      </section>
      {% endif %}
    </nav>
  </div>
</header>