{% macro render_spatial_filter(spatial_filter) %}
<fieldset class="usa-fieldset" aria-labelledby="spatial-data-label">
    <legend class="usa-legend" id="spatial-data-label">Spatial data options</legend>
    <div class="usa-radio">
        <input class="usa-radio__input" id="filter-spatial-all" type="radio" name="spatial_filter" value=""
            {% if not spatial_filter %}checked{% endif %}>
        <label class="usa-radio__label" for="filter-spatial-all">All datasets</label>
    </div>
    <div class="usa-radio">
        <input class="usa-radio__input" id="filter-spatial-geo" type="radio" name="spatial_filter" value="geospatial"
            {% if spatial_filter == 'geospatial' %}checked{% endif %}>
        <label class="usa-radio__label" for="filter-spatial-geo">Geospatial only</label>
    </div>
    <div class="usa-radio">
        <input class="usa-radio__input" id="filter-spatial-non-geo" type="radio" name="spatial_filter" value="non-geospatial"
            {% if spatial_filter == 'non-geospatial' %}checked{% endif %}>
        <label class="usa-radio__label" for="filter-spatial-non-geo">Non-geospatial only</label>
    </div>
</fieldset>
{% endmacro %}
