{% from "components/filters/filter_accordion_section.html" import render_filter_accordion_section %}

{% macro render_spatial_filter(spatial_filter) %}
{% call render_filter_accordion_section(
    'filter-spatial',
    'Spatial Data',
    is_active=(spatial_filter is not none and spatial_filter != ''),
    active_summary=spatial_filter|spatial_data_active_summary,
    button_id='spatial-data-label'
) %}
        <fieldset class="usa-fieldset" aria-labelledby="spatial-data-label">
            <legend class="usa-sr-only">Spatial data options</legend>
            <div class="usa-radio">
                <input class="usa-radio__input" id="filter-spatial-all" type="radio" name="spatial_filter" value=""
                    {% if not spatial_filter %}checked{% endif %}>
                <label class="usa-radio__label" for="filter-spatial-all">All datasets</label>
            </div>
            <div class="usa-radio">
                <input class="usa-radio__input" id="filter-spatial-geo" type="radio" name="spatial_filter" value="geospatial"
                    {% if spatial_filter == 'geospatial' %}checked{% endif %}>
                <label class="usa-radio__label" for="filter-spatial-geo">Geospatial only</label>
            </div>
            <div class="usa-radio">
                <input class="usa-radio__input" id="filter-spatial-non-geo" type="radio" name="spatial_filter" value="non-geospatial"
                    {% if spatial_filter == 'non-geospatial' %}checked{% endif %}>
                <label class="usa-radio__label" for="filter-spatial-non-geo">Non-geospatial only</label>
            </div>
        </fieldset>
{% endcall %}
{% endmacro %}
