.usa-logo a {
    background-image: url("../../img/logo.svg");
    background-repeat: no-repeat;
    height: 48px;
    width: 200px;
    display: block;
    background-size: cover;
    margin-left: 0;
}