{% extends "base.html" %}

{% block title %}Service temporarily unavailable - Data.gov{% endblock %}

{% block main_content %}
<div class="not-found-page">
    <div class="grid-container">
        <div class="grid-row flex-justify-center">
            <div class="grid-col-12 desktop:grid-col-8 text-center">
                <i class="fa-solid fa-triangle-exclamation not-found-page__icon" aria-hidden="true"></i>
                <h1 class="font-heading-2xl margin-bottom-2">Service temporarily unavailable</h1>
                <p class="font-body-lg margin-bottom-4">
                    We’re temporarily unable to load this page. Please try again in a few minutes.
                </p>
                <div class="margin-bottom-4">
                    <a class="usa-button" href="{{ url_for('main.index') }}">
                        Return to search
                    </a>
                    <a class="usa-button usa-button--outline" href="https://data.gov/contact/">
                        Contact data.gov
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
