<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Catalog - Data.gov{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/uswds/css/styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <script src="{{ url_for('static', filename='assets/uswds/js/uswds-init.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/htmx/htmx.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/datetime.js') }}"></script>
  {% block script_head %}{% endblock %}
</head>
<body class="usa-app">
  <a class="usa-skipnav" href="#content">Skip to main content</a>

  {% include "components/header.html" %}
  
  <main id="content">
    <div class="usa-section">
      <div class="grid-container">
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>

  {% include "components/footer.html" %}

  <script src="{{ url_for('static', filename='assets/uswds/js/uswds.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/bundle.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>

</html>
