<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Catalog - Data.gov{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/uswds/css/styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <script src="{{ url_for('static', filename='assets/uswds/js/uswds-init.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/htmx/htmx.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/datetime.js') }}"></script>
  {% block script_head %}
  {% endblock %}
</head>

<body>
  <header>
    <div class="usa-nav-container">
      <nav aria-label="Primary navigation" class="usa-nav">
        <ul class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
            <a href="{{ url_for('main.index') }}" class="usa-nav__link">Home</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main id="content">{% block content %}{% endblock %}</main>
  <script src="{{ url_for('static', filename='assets/uswds/js/uswds.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/bundle.js') }}"></script>
  {% block scripts %}
  {% endblock %}
</body>

</html>