<!DOCTYPE html>
<html lang="en">
<head>
  <!-- datalayer injection -->
  {% block datalayer %}
  {% endblock %}
  <!-- end datalayer injection -->
  <!-- Google analytics -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-WZJC8CX7');</script>
  <!-- End of Google analytics -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Catalog - Data.gov{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/uswds/css/styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <script src="{{ url_for('static', filename='assets/uswds/js/uswds-init.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/htmx/htmx.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/datetime.js') }}"></script>
  {% block script_head %}{% endblock %}
</head>
<body class="usa-app">
  <!-- Google analytics iframe -->
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZJC8CX7" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  <!-- End of Google analytics iframe -->
  <a class="usa-skipnav" href="#content">Skip to main content</a>

  {% include "components/header.html" %}
  
  <main id="content">
    {% block main_content %}
    <div class="usa-section">
      <div class="{% block container_class %}grid-container-widescreen{% endblock %}">
        {% block content %}{% endblock %}
      </div>
    </div>
    {% endblock main_content %}
  </main>

  {% include "components/footer.html" %}

  <script src="{{ url_for('static', filename='assets/uswds/js/uswds.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/bundle.js') }}"></script>
  <!-- Load the GitHub buttons script -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  {% block scripts %}{% endblock %}
</body>

</html>