name: Deploy
on:
  push:
    branches:
      - main

permissions:
    contents: read

env:
  PY_VERSION: "3.12"
  POETRY_VERSION: "2.0.0"

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Python Lint
    steps:
      - uses: actions/checkout@v4
      - uses: chartboost/ruff-action@v1

  deploy-staging:
    name: deploy to staging space
    environment: staging
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Install node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: "app/static/package.json"
      - name: Build static assets
        run: make install-static
      - name: Set up Python ${{ env.PY_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PY_VERSION }}
      - name: Install Poetry
        uses: abatilo/actions-poetry@v3
        with:
          poetry-version: ${{ env.POETRY_VERSION }}
          poetry-plugins: "poetry-plugin-export"
      - name: Add requirements.txt
        run: make update-dependencies && cat requirements.txt
      - name: Deploy datagov-catalog app
        uses: cloud-gov/cg-cli-tools@main
        with:
          command: cf push --strategy rolling --no-wait
          cf_org: gsa-datagov
          cf_space: staging
          cf_username: ${{secrets.CF_SERVICE_USER}}
          cf_password: ${{secrets.CF_SERVICE_AUTH}}

  deploy-prod:
    name: deploy to prod space
    environment: prod
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Install node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: "app/static/package.json"
      - name: Build static assets
        run: make install-static
      - name: Set up Python ${{ env.PY_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PY_VERSION }}
      - name: Install Poetry
        uses: abatilo/actions-poetry@v3
        with:
          poetry-version: ${{ env.POETRY_VERSION }}
          poetry-plugins: "poetry-plugin-export"
      - name: Add requirements.txt
        run: make update-dependencies && cat requirements.txt
      - name: Deploy datagov-catalog app
        uses: cloud-gov/cg-cli-tools@main
        with:
          command: cf push --strategy rolling --no-wait
          cf_org: gsa-datagov
          cf_space: prod
          cf_username: ${{secrets.CF_SERVICE_USER}}
          cf_password: ${{secrets.CF_SERVICE_AUTH}}
