name: Deploy
on:
  push:
    branches:
      - main

permissions:
    contents: read

env:
  PY_VERSION: "3.12"
  POETRY_VERSION: "2.0.0"

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Python Lint
    steps:
      - uses: actions/checkout@v4
      - uses: chartboost/ruff-action@v1

  deploy-staging:
    name: deploy to staging space
    environment: staging
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via composite action
        uses: ./.github/actions/deploy
        with:
          cf_space: staging
          python-version: ${{ env.PY_VERSION }}
          poetry-version: ${{ env.POETRY_VERSION }}
          cf_username: ${{ secrets.CF_SERVICE_USER }}
          cf_password: ${{ secrets.CF_SERVICE_AUTH }}
          smoke-url: https://datagov-catalog-staging.app.cloud.gov/
          smoke-path: /

  deploy-prod:
    name: deploy to prod space
    environment: prod
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via composite action
        uses: ./.github/actions/deploy
        with:
          cf_space: prod
          python-version: ${{ env.PY_VERSION }}
          poetry-version: ${{ env.POETRY_VERSION }}
          cf_username: ${{ secrets.CF_SERVICE_USER }}
          cf_password: ${{ secrets.CF_SERVICE_AUTH }}
          smoke-url: https://catalog-beta.data.gov/
          smoke-path: /
