name: Deploy
on:
  push:
    branches:
      - main

permissions:
    contents: read

env:
  PY_VERSION: "3.12"
  POETRY_VERSION: "2.0.0"

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Python Lint
    steps:
      - uses: actions/checkout@v4
      - uses: chartboost/ruff-action@v1
